<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
        {% block header %}
            <div style="float: right;">
                <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'ru', 'id': app.request.attributes.get('id')}) }}">ru</a>
                | <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en', 'id': app.request.attributes.get('id')}) }}">en</a>
            </div>
            <div style="height: 50px;text-align: center;">
                {% if  user_name is defined %}
                    {% trans %}hello{% endtrans %}, {{ user_name }}!
                    <a href="{{ path('logout')}}">{% trans %}log out{% endtrans %}</a>
                {% endif %}
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
