{% extends "base.html.twig" %}

{% block title %}{% trans %}Translation page{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Translation page{% endtrans %}</h1>
    <ul>
    {% for task in tasks %}
        <li><a href="{{ path('task_translate', {'id' : task.id}) }}">{{ task.translate('ru').content }}</a></li>
    {% endfor %}
    </ul>
    <br/><br/><br/><br/>
    <h3>{% trans %}Add phrase{% endtrans %}</h3>
    {{ form(form) }}
{% endblock %}
