{% extends "@FOSUser/layout.html.twig" %}

{% block page_header %}<h1>Login</h1>{% endblock %}
{% block login_link %}{% endblock %}

{% block fos_user_content %}


    {% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label required">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username"class="form-control" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label required">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password"class="form-control" name="_password" required="required" />
        </div>

        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>

        <div>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </form>

    <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
{% endblock fos_user_content %}
