{% extends "base.html.twig" %}

{% block title %}Translators shop{% endblock %}

{% block body %}
    <h1>{% trans %}Welcome{% endtrans %}</h1>
    <p>{% trans %}Log in for working{% endtrans %}</p>
    <p><a href="{{ path('fos_user_registration_register') }}">{% trans %}Registration{% endtrans %}</a></p>
    <p><a href="{{ path('fos_user_security_login') }}">{% trans %}Log in{% endtrans %}</a></p>
{% endblock %}
