{% extends "base.html.twig" %}

{% block title %}{% trans %}New user registration{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}New user registration{% endtrans %}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{% trans %} Registration {% endtrans %}" />
    {{ form_end(form) }}
{% endblock %}
